@use "../../styles/partials/breakpoints.scss" as *;
.game-key {
	width: 3.75rem;
	height: 3.75rem;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	transition-duration: 0.2s;
	font-size: 1.5rem;
	cursor: pointer;
	text-transform: capitalize;
	font-weight: 600;
	@include mobile {
		width: 3rem;
		height: 3rem;
	}
	&:active {
		transform: scale(0.95);
	}
	&--correct {
		background-color: #02ac49;
		color: white;
	}
	&--wrong-index {
		background-color: #ffee00;
		color: black;
	}
	&--not-in-word {
		background-color: rgb(180, 180, 180);
		color: white;
	}
	&--jump {
		animation: jump 0.5s linear;
	}
}

@keyframes jump {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: translateY(-0.5rem);
	}
	50% {
		transform: translateY(-1rem);
	}
	75% {
		transform: translateY(-0.5rem);
	}
	100% {
		transform: translateY(0);
	}
}
