@use "../../styles/partials/breakpoints.scss" as *;
.message-modal {
	width: 50vw;
	max-width: 30rem;
	background-color: white;
	border-radius: 0.5rem;
	border: 4px solid black;
	z-index: 10;
	position: absolute;
	top: 50px;
	display: flex;
	left: 50%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	justify-content: center;
	animation: show 2s;
	padding: 1rem;

	@include mobile {
		font-size: 0.75rem;
		padding: 0.5rem;
		width: 90vw;
	}
}

@keyframes show {
	0% {
		transform: translateY(-150px);
	}

	50% {
		transform: translateY(50px);
	}
	75% {
		transform: translateY(50px);
	}
	100% {
		transform: translateY(-150px);
	}
}
