.key-board {
	width: 100%;
	max-width: 35rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.1rem;
	&__submit {
		cursor: pointer;
		background-color: rgb(0, 119, 255);
		color: white;
		border-radius: 0.5rem;
		padding: 0.5rem 1rem;
		transition-duration: 0.2s;
		font-size: 1.5rem;
		font-weight: 600;
		&:active {
			transform: scale(0.9);
		}
		&:hover {
			opacity: 0.9;
		}
	}
	&__back {
		cursor: pointer;
		background-color: rgb(255, 196, 0);
		color: black;
		border-radius: 0.5rem;
		padding: 0.5rem 1rem;
		font-size: 1.5rem;
		font-weight: 600;
		&:active {
			transform: scale(0.9);
		}
	}
}
