.modal {
	width: 50vh;
	background-color: white;
	border-radius: 0.5rem;
	border: 1px solid black;
	z-index: 10;
	position: absolute;
	top: 50px;
	display: flex;
	left: 50%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	justify-content: center;
	animation: show 2s;
}

@keyframes show {
	0% {
		transform: translateY(-150px);
	}

	50% {
		transform: translateY(50px);
	}
	75% {
		transform: translateY(50px);
	}
	100% {
		transform: translateY(-150px);
	}
}
