.modal {
	width: 50vh;
	background-color: white;
	border-radius: 0.5rem;
	border: 1px solid black;
	z-index: 10;
	position: absolute;
	top: 100px;
	display: flex;
	left: 10px;
	justify-content: center;
	animation: show 2s;
}

@keyframes show {
	0% {
		transform: translateX(-100%);
	}

	50% {
		transform: translateX(50%);
	}
	75% {
		transform: translateX(50%);
	}
	100% {
		transform: translateX(-100%);
	}
}
