.main-wrapper {
	display: flex;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 73.4px);
	gap: 1rem;
}
